@page "/task-lists"
@model HelsiListOfTasks.UI.Pages.TaskListsPageModel
@{
    ViewData["Title"] = "Task Lists";
}

<h2>Task Lists</h2>
<div class="task-lists-collection"></div>

@await Html.PartialAsync("_UserSelectPartial", Model.Users)

<div class="pagination-controls">
    <button id="prev-page" class="pagination-button">Prev</button>
    <span id="page-number">Page 1</span>
    <button id="next-page" class="pagination-button">Next</button>
</div>

<form id="task-lists-form" class="form">
    <input type="text" id="task-lists-title" class="form-input" placeholder="Title" required/>
    <button type="submit" class="form-button">Add</button>
</form>

@section Scripts {
    <script type="module" src="~/js/task-lists-init.js" asp-append-version="true"></script>
}

