@model List<HelsiListOfTasks.Domain.Models.User>

<div class="user-cards">
    @foreach (var user in Model)
    {
        <div class="user-card" data-id="@user.Id">
            <div class="user-card-delete" id="user-delete">
                <img src="icons/delete.svg" alt="Delete">
            </div>
            <h4>@user.Name</h4>
            <p>ID: @user.Id</p>
        </div>
    }
</div>
<form id="user-form" class="form">
    <input type="text" id="user-name" class="form-input" placeholder="Name" required/>
    <button type="submit" class="form-button">Add</button>
</form>